.global-cross-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  cursor: pointer;
  background: var(--backgroundSlider);
  align-items: center;
  border-radius: 50px;
  position: fixed;
  z-index: 1100;
  top : 4em;
  right: 6em;
  padding: 1em 1em;
}

.global-cross-icon-bar {
  background: var(--textDefault);
  width: 30px;
  height: 5px;
  border-radius: 24px;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.global-cross-icon-bar:focus {
  outline: none;
}


