.App {
  display: flex;
  flex-direction: column;
  padding-top: 6em;
  width: 100vw;
  min-height: calc(100vh - 6em);
  background: var(--backgroundMain);
  background-size: cover;
  background-repeat: no-repeat;
}