@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family-headline: -apple-system-headline, -apple-system, Inter,
    system-ui, Avenir, Helvetica, Arial, sans-serif, "Monda";
  --font-family-subheadline: -apple-system-subheadline, -apple-system, Inter,
    system-ui, Avenir, Helvetica, Arial, sans-serif, "Monda";
  --font-family-body: -apple-system-body, -apple-system, Inter, system-ui,
    Avenir, Helvetica, Arial, sans-serif, "Monda";
  --font-family-secondary: 'Roboto Mono', monospace, -apple-system, Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;

  --line-height-default: 1.5;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-size-headline: 2.5em;
  --font-size-subheadline: 1.5em;
  --font-size-button: 1.25em;
  --font-size-primary: 1.125em;
  --font-size-secondary: 0.9375em;
  --font-size-tertiary: 0.875em;

    /* Palette principale */
    --colorPrimary0: rgba(252, 252, 252, 1);
    --colorPrimary1: rgba(243, 188, 80, 1);
    --colorPrimary2: rgba(252, 191, 73, 1);
    --colorPrimary3: rgba(250, 149, 0, 1);
    --colorPrimary4: rgba(235, 100, 36, 1);
    --colorPrimary5: rgba(214, 40, 40, 1);
  
    --colorAccent: rgba(253, 201, 100, 1);

    --backgroundMain: linear-gradient(to bottom, var(--colorPrimary0), rgba(248, 248, 248, 1));
    --backgroundTheme: var(--colorPrimary0),
    --backgroundInvert: linear-gradient(to bottom, var(--gray-900), rgba(54, 54, 54, 1));
    --backgroundPlayground: linear-gradient(to bottom, var(--colorAccent), var(--colorPrimary1));
    --backgroundPhoto: rgba(255, 255, 255, 1);
    --backgroundNavLinks: var(--gray-200);
  
    --textDefault: rgba(51, 51, 51, 1);
    --textInverted: rgba(241, 240, 237, 1);
    --textPlaygroundInactive: rgba(180, 138, 56, 1);
    --textWhite: rgba(255, 255, 255, 1);
    --textLinkReadMore: rgba(6, 167, 226, 1);
    --textLinkExternal: rgba(53, 41, 181, 1);
    --textSecondary: rgba(113, 113, 113, 1);
    --textTertiary: rgb(188, 188, 188);

    --buttonNavbarReduced: linear-gradient(to bottom, var(--colorPrimary2), var(--colorPrimary4));
    --buttonProjectBg: var(--colorPrimary4);
    --buttonProjectBorder: rgba(237, 129, 78, 1);
    --buttonBackBg: var(--colorSecondary);
    --buttonBackBorder: rgba(114, 140, 175, 1);
    --buttonResumeBg: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 1),
      rgba(46, 46, 46, 1)
    );
    --buttonResumeBorder: linear-gradient(
      to bottom,
      rgba(45, 45, 45, 1),
      rgba(33, 33, 33, 1)
    );
    --carouselInactive: rgba(241, 241, 241, 1);
    --carouselActive: var(--colorPrimary4);
  
    --iconProcreateBg: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    --iconCodeBg: linear-gradient(to bottom, #f26522, #d9541a);
    --iconFigmaBg: linear-gradient(to bottom, #1e1e1e, #1a1a1a);

  --gray-100: rgb(245, 245, 245); 
  --gray-200: rgb(230, 230, 230);
  --gray-300: rgba(204, 204, 204, 1);
  --gray-400: rgba(179, 179, 179, 1);
  --gray-500: rgba(153, 153, 153, 1); 
  --gray-600: rgba(128, 128, 128, 1);
  --gray-700: rgba(102, 102, 102, 1);
  --gray-800: rgba(77, 77, 77, 1);
  --gray-900: rgba(51, 51, 51, 1);
  --gray-1000: rgba(26, 26, 26, 1); 

  --shadows--mini: 0px 0px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px -1px rgba(0, 0, 0, 0.06), 0px 3px 3px -1px rgba(0, 0, 0, 0.06)
   ;

  --shadows--normal: 0px 0px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px -1px rgba(0, 0, 0, 0.06), 0px 3px 3px -1px rgba(0, 0, 0, 0.06),
    0px 6px 6px -3px rgba(0, 0, 0, 0.06), 0px 12px 12px -6px rgba(0, 0, 0, 0.05),
    0px 24px 24px -12px rgba(0, 0, 0, 0);

  --system-shadowsOutline: 0.3px 0.4px 0 var(--textDefault),
    -0.3px -0.4px 0 var(--textDefault),
    -0.3px -0.3px 0 var(--textDefault),
    -0.3px -0.2px 0 var(--textDefault),
    -0.3px -0.1px 0 var(--textDefault),
    -0.3px 0.4px 0 var(--textDefault),
    0.3px -0.4px 0 var(--textDefault),
    0.3px -0.3px 0 var(--textDefault),
    0.3px -0.2px 0 var(--textDefault),
    0.3px -0.1px 0 var(--textDefault);

  --system-shadowsOutline-invert: 0.3px 0.4px 0 var(--colorPrimary0),
    -0.3px -0.4px 0 var(--colorPrimary0),
    -0.3px -0.3px 0 var(--colorPrimary0),
    -0.3px -0.2px 0 var(---colorPrimary0),
    -0.3px -0.1px 0 var(--colorPrimary0),
    -0.3px 0.4px 0 var(--colorPrimary0),
    0.3px -0.4px 0 var(--colorPrimary0),
    0.3px -0.3px 0 var(--colorPrimary0),
    0.3px -0.2px 0 var(--colorPrimary0),
    0.3px -0.1px 0 var(--colorPrimary0);

  --system-shadows-3d: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.15),
    inset 0 1px 1px 0 rgba(255, 255, 255, 0.15),
    inset 0 1.5px 1.5px 0 rgba(255, 255, 255, 0.15),
    inset 0 2px 3px 0 rgba(255, 255, 255, 0.15);


  --ease-linear: cubic-bezier(0.25,0.25,0.75,0.75);
  --ease-in-sine: cubic-bezier(0.47,0,0.745,0.715);
  --ease-out-sine: cubic-bezier(0.39,0.575,0.565,1);
  --ease-out-elastic: linear(0,0.5737 7.6%,0.8382 11.87%,0.9463 14.19%,1.0292 16.54%,1.0886 18.97%,1.1258 21.53%,1.137 22.97%,1.1424 24.48%,1.1423 26.1%,1.1366 27.86%,1.1165 31.01%,1.0507 38.62%,1.0219 42.57%,0.9995 46.99%,0.9872 51.63%,0.9842 58.77%,1.0011 81.26%,1);

  
  font-size: 16px;
  font-family: var(--font-family-body);
  line-height: var(---line-height-default);
  font-weight: var(--font-weight-regular);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100vw;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background: var(--backgroundMain);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--textDefault);
  overflow-x: hidden;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
button:focus {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 1200px) {
  :root {
    --font-size-headline: 2.375em;
    --font-size-subheadline: 1.4375em;
    --font-size-button: 1.25em;
    --font-size-primary: 1.125em;
    --font-size-secondary: 0.9375em;
    --font-size-tertiary: 0.875em;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-headline: 1.875em;
    --font-size-subheadline: 1.125em;
    --font-size-button: 1.25em;
    --font-size-primary: 1.0625em;
    --font-size-secondary: 0.875em;
    --font-size-tertiary: 0.875em;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-headline: 1.875em;
    --font-size-subheadline: 1.125em;
    --font-size-button: 1.125em;
    --font-size-primary: 1.0625em;
    --font-size-secondary: 0.875em;
    --font-size-tertiary: 0.875em;
  }
}

