@font-face {
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/monda/v17/TK3tWkYFABsmjsphPho.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Monda";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/monda/v17/TK3tWkYFABsmjsphPho.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font-family-headline: -apple-system-headline, -apple-system, Inter,
    system-ui, Avenir, Helvetica, Arial, sans-serif, "Monda";
  --font-family-subheadline: -apple-system-subheadline, -apple-system, Inter,
    system-ui, Avenir, Helvetica, Arial, sans-serif, "Monda";
  --font-family-body: -apple-system-body, -apple-system, Inter, system-ui,
    Avenir, Helvetica, Arial, sans-serif, "Monda";
  --font-family-date: "Monda", -apple-system, Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;

  --line-height-default: 1.5;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-size-headline: 2.5em;
  --font-size-subheadline: 1.5em;
  --font-size-button: 1.25em;
  --font-size-primary: 1.125em;
  --font-size-secondary: 0.9375em;
  --font-size-tertiary: 0.875em;

    /* Palette principale */
  --color-primary-0: rgba(252, 252, 252, 1);
  --color-primary-1: rgba(243, 188, 80, 1);
  --color-primary-2: rgba(252, 191, 73, 1);
  --color-primary-3: rgba(250, 149, 0, 1);
  --color-primary-4: rgba(235, 100, 36, 1);
  --color-primary-5: rgba(214, 40, 40, 1);

  --color-accent: rgba(253, 201, 100, 1);

  

  --background-main: linear-gradient(to bottom, var(--color-primary-0), rgba(248, 248, 248, 1));
  --background-invert: linear-gradient(to bottom, var(--gray-900), rgba(54, 54, 54, 1));
  --background-playground: linear-gradient(to bottom, var(--color-accent), var(--color-primary-1));
  --background-photo: rgba(255, 255, 255, 1);

  --text-default: rgba(51, 51, 51, 1);
  --text-inverted: rgba(241, 240, 237, 1);
  --text-playground-inactive: rgba(180, 138, 56, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-link-read-more: rgba(6, 167, 226, 1);
  --text-link-external: rgba(53, 41, 181, 1);
  --text-secondary: rgba(113, 113, 113, 1);
  --text-tertiary: rgb(188, 188, 188);

  --button-navbar-reduced : linear-gradient(to bottom, var(--color-primary-2), var(--color-primary-4));
  --button-project-bg: var(--color-primary-4);
  --button-project-border: rgba(237, 129, 78, 1);
  --button-back-bg: var(--color-secondary);
  --button-back-border: rgba(114, 140, 175, 1);
  --button-resume-bg: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 1),
    rgba(46, 46, 46, 1)
  );
  --button-resume-border: linear-gradient(
    to bottom,
    rgba(45, 45, 45, 1),
    rgba(33, 33, 33, 1)
  );

  --carousel-inactive: rgba(241, 241, 241, 1);
  --carousel-active: var(--color-primary-4);

  --icon-procreate-bg: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  --icon-code-bg: linear-gradient(to bottom, #f26522, #d9541a);
  --icon-figma-bg: linear-gradient(to bottom, #1e1e1e, #1a1a1a);

  --gray-100: rgba(245, 245, 245, 1); 
  --gray-200: rgba(230, 230, 230, 1);
  --gray-300: rgba(204, 204, 204, 1);
  --gray-400: rgba(179, 179, 179, 1);
  --gray-500: rgba(153, 153, 153, 1); 
  --gray-600: rgba(128, 128, 128, 1);
  --gray-700: rgba(102, 102, 102, 1);
  --gray-800: rgba(77, 77, 77, 1);
  --gray-900: rgba(51, 51, 51, 1);
  --gray-1000: rgba(26, 26, 26, 1); 


  --shadows--normal: 0px 0px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px -1px rgba(0, 0, 0, 0.06), 0px 3px 3px -1px rgba(0, 0, 0, 0.06),
    0px 6px 6px -3px rgba(0, 0, 0, 0.06), 0px 12px 12px -6px rgba(0, 0, 0, 0.05),
    0px 24px 24px -12px rgba(0, 0, 0, 0);

  --system-shadowsOutline: 0.3px 0.4px 0 var(--primary-text-color),
    -0.3px -0.4px 0 var(--primary-text-color),
    -0.3px -0.3px 0 var(--primary-text-color),
    -0.3px -0.2px 0 var(--primary-text-color),
    -0.3px -0.1px 0 var(--primary-text-color),
    -0.3px 0.4px 0 var(--primary-text-color),
    0.3px -0.4px 0 var(--primary-text-color),
    0.3px -0.3px 0 var(--primary-text-color),
    0.3px -0.2px 0 var(--primary-text-color),
    0.3px -0.1px 0 var(--primary-text-color);

  --system-shadowsOutline-invert: 0.3px 0.4px 0 var(--primary-text-color),
    -0.3px -0.4px 0 var(--color-primary-0:),
    -0.3px -0.3px 0 var(--color-primary-0:),
    -0.3px -0.2px 0 var(---color-primary-0:),
    -0.3px -0.1px 0 var(--color-primary-0:),
    -0.3px 0.4px 0 var(--color-primary-0:),
    0.3px -0.4px 0 var(--color-primary-0:),
    0.3px -0.3px 0 var(--color-primary-0:),
    0.3px -0.2px 0 var(--color-primary-0:),
    0.3px -0.1px 0 var(--color-primary-0:);

  --system-shadows-3d: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.15),
    inset 0 1px 1px 0 rgba(255, 255, 255, 0.15),
    inset 0 1.5px 1.5px 0 rgba(255, 255, 255, 0.15),
    inset 0 2px 3px 0 rgba(255, 255, 255, 0.15);

  
  font-size: 16px;
  font-family: var(--font-family-body);
  line-height: var(---line-height-default);
  font-weight: var(--font-weight-regular);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  overflow-x: hidden;

  transition: --background-color 0.5s ease;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
button:focus {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 1200px) {
  :root {
    --font-size-headline: 2.375em;
    --font-size-subheadline: 1.4375em;
    --font-size-button: 1.25em;
    --font-size-primary: 1.125em;
    --font-size-secondary: 0.9375em;
    --font-size-tertiary: 0.875em;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-headline: 1.875em;
    --font-size-subheadline: 1.125em;
    --font-size-button: 1.125em;
    --font-size-primary: 1.0625em;
    --font-size-secondary: 0.875em;
    --font-size-tertiary: 0.875em;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-headline: 1.875em;
    --font-size-subheadline: 1.125em;
    --font-size-button: 1.125em;
    --font-size-primary: 1.0625em;
    --font-size-secondary: 0.875em;
    --font-size-tertiary: 0.875em;
  }
}
