.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
}

.blur-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  pointer-events: none;
  z-index: 999;
  transition: all 0.5s ease;
}

.blur-overlay.reduced {
  display: none;
}

.blur-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: linear-gradient(
    to top,
    var(--gradientTop) 0%,
    var(--gradientBottom) 100%
  );
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.blur-overlay.reduced .blur-mask {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.blur-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.blur-overlay.reduced .blur-effect {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 1em 3em 2em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: all 0.5s ease;
}

.Navigation.reduced .nav-container {
  padding: 3em 2em 1em 2em;
  width: 100%;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

.Navigation.reduced .nav-container.active {
  height: 100vh;
  background: var(--backgroundMain);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
  transition: all 0.3s ease;
}


.nav-links-container {
  position: relative;
}

.nav-link {
  padding: 0.425em 0.765em;
  gap: 0.5em;
  border-radius: 1em;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-button);
  color: var(--textDefault);
  transition: text-shadow 0.125s ease, padding 0.3s ease;
}

.nav-link:hover {
  padding: 0.425em 0.965em;
}

.nav-link-content {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-right .nav-link.active {
  text-shadow: var(--system-shadowsOutline);
}

.nav-link:hover {
  text-shadow: var(--system-shadowsOutline);
}

.nav-left .nav-link.active {
  text-shadow: none;
}

.nav-link .home {
  text-shadow: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subheadline);
  font-family: var(--font-family-headline);
}

.nav-link .home:hover {
  text-shadow: none;
}

.nav-link a:focus {
  outline: none;
}

.background-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1em;
  z-index: -1;
}

.arrow {
  background: var(--textDefault);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 2.2px;
}

.cross-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  aspect-ratio: 1;
  cursor: pointer;
}

.cross-icon-bar {
  background: var(--textDefault);
  width: 30px;
  height: 5px;
  border-radius: 24px;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.cross-icon-bar:focus {
  outline: none;
}

.menu-button {
  overflow: hidden;
  align-items: center;
  border-radius: 50px;
  padding: 0.8em 0.8em;
  background: var(--backgroundNavReduced);
  box-shadow: var(--shadows--mini);
  color: var(--textDefault);
  will-change: width;
  cursor: pointer;
  transition: width 0.3s ease; 
}  

.menu-button.closed {
  width: 120px;
}


.menu-button-content {
  padding: 0em 0.5em 0em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.decoration-icon {
  position: fixed;
  z-index: -1;
}

.decoration-icon-left {
  opacity: 0;
  left: -20vw;
  bottom: 20px;
  rotate: -30deg;
}

.decoration-icon-right {
  opacity: 0;
  right: -20vw;
  bottom: 160px;
  rotate: 46deg;
}

.menu-dropdown-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  padding-top: 4em;
}
.menu-drop-motion {
  width: 100%;
}

.menu-item {
  display: flex;
  padding: 0.3em;
  justify-content: center;
  font-size: var(--font-size-button);
  color: var(--textTertiary);
  transition: background 0.3s ease, text-shadow 0.3s ease;
}

.menu-item.active {
  color: var(--textDefault);
}

.menu-item:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .nav-container {
    padding: 1em 1.25em 2em 1.25em;
  }
}

@media (max-width: 768px) {
  .nav-link {
    padding: 0.425em 0.765em;
    gap: 0.3em;
  }

  .nav-links {
    gap: 0;
  }

  .nav-container {
    padding-inline: 0.2em;
  }
}
