.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  z-index: 1000; 

}


.gradient-blur {
  position: fixed;
  z-index: 999;
  inset: 0 0 auto 0;
  height: 20vh;
  pointer-events: none;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}

.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}

.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

  .gradient-blur.reduced {
    height: 18vh;
  }

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 1em 3em 2em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: all 0.5s ease;
}

.Navigation.reduced .nav-container {
  padding: 3em 2em 1em 2em;
  width: 100%;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

.Navigation.reduced .nav-container.active {
  height: 100vh;
  background: var(--backgroundMain);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
  transition: all 0.3s ease;
}


.nav-links-container {
  position: relative;
}

.nav-link {
  padding: 0.625em 0.965em;
  border-radius: 1em;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-button);
  color: var(--textDefault);
  transition: text-shadow 0.125s ease, padding 0.3s ease;
}

.nav-link:hover {
  padding: 0.625em 1.065em;
}

.nav-link-content {
  display: flex;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-right .nav-link.active {
  text-shadow: var(--system-shadowsOutline);
}

.nav-link:hover {
  text-shadow: var(--system-shadowsOutline);
}

.nav-left .nav-link.active {
  text-shadow: none;
}

.nav-link .home {
  text-shadow: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subheadline);
  font-family: var(--font-family-headline);
}

.nav-link .home:hover {
  text-shadow: none;
}

.nav-link a:focus {
  outline: none;
}

.background-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1em;
  z-index: -1;
  backdrop-filter: blur(16px);

}
/*
.arrow {
  background: var(--textDefault);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 2.2px;
}*/


.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
aspect-ratio: 1;
}

.cross-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  aspect-ratio: 1;
  cursor: pointer;
}

.cross-icon-bar {
  background: var(--textDefault);
  width: 30px;
  height: 5px;
  border-radius: 24px;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.cross-icon-bar:focus {
  outline: none;
}

.menu-button {
  overflow: hidden;
  align-items: center;
  border-radius: 50px;
  padding: 0.8em 0.8em;
  background: var(--backgroundNavReduced);
  box-shadow: var(--shadows--mini);
  color: var(--textDefault);
  will-change: width;
  cursor: pointer;
  transition: width 0.3s ease; 
}  

.menu-button.closed {
  width: 120px;
}


.menu-button-content {
  padding: 0em 0.5em 0em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.decoration-icon {
  position: fixed;
  z-index: -1;
}

.decoration-icon-left {
  opacity: 0;
  left: -20vw;
  bottom: 20px;
  rotate: -30deg;
}

.decoration-icon-right {
  opacity: 0;
  right: -20vw;
  bottom: 160px;
  rotate: 46deg;
}

.menu-dropdown-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  padding-top: 4em;
}
.menu-drop-motion {
  width: 100%;
}

.menu-item {
  display: flex;
  padding: 0.3em;
  justify-content: center;
  font-size: var(--font-size-button);
  color: var(--textTertiary);
  transition: background 0.3s ease, text-shadow 0.3s ease;
}

.menu-item.active {
  color: var(--textDefault);
}

.menu-item:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .nav-container {
    padding: 1em 1.25em 2em 1.25em;
  }
}

@media (max-width: 768px) {
  .nav-link {
    padding: 0.425em 0.765em;
    gap: 0.3em;
  }

  .nav-links {
    gap: 0;
  }

  .nav-container {
    padding-inline: 0.2em;
  }
}


.nav-icon {
  transition: stroke-width 0.3s ease, stroke 0.3s ease;
  stroke: var(--textDefault);
}

.nav-icon.hovered {
  stroke-width: 36px; 
}