.footer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.get-in-touch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 20vh;
}

.get-in-touch .text {
  white-space: nowrap;
}

.social-icons {
  display: flex;
}

.social-icon {
  position: relative;
  transition: padding 0.4s ease;
  margin-inline: -0.8em;
}

.social-icon:focus {
  outline: none;
}

.social-icon img {
  width: 5vw;
  min-width: 70px;
  max-width: 150px;
  aspect-ratio: 1;
  object-fit: contain;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  transition: all 0.8s var(--ease-out-sine);
}

.social-icons a:nth-child(even) img {
  transform: rotate(3deg);
}

.social-icons a:nth-child(odd) img {
  transform: rotate(-5deg);
}

.social-icon:hover {
  padding-inline: 2em;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
}

.tooltip {
  position: absolute;
  background: var(--colorPrimary2);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
  color: var(--textTertiary);
  padding: 0.6em 1em;
  border-radius: 5em;
  box-shadow: var(--shadows--mini);
  pointer-events: none;
}

.contact-me {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: bottom;
  z-index: 1;
  overflow: hidden;
}

.mail-background {
  position: absolute;
  bottom: 0;
  height: 100%;
  min-width: 200px;
  z-index: -1;
}

.contact-button {
  position: absolute;
  top: 8vh;
  background: var(--buttonContact);
  color: var(--textWhite);
  padding: 0.3em 0.8em;
  border-radius: 1.5em;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s var(--ease-out-sine);
}

.contact-button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.4);

}

@media (max-width: 680px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 2em;
  }

  .social-icons {
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1em;
  }
}
