.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 1.25em;
  transition: background-color 0.5s ease
}


.rectangle.figma {
  background: var(--iconFigmaBg);
}

.rectangle.code {
  background:  var(--iconCodeBg);
}

.rectangle.procreate {
  background:  var(--iconProcreateBg);
}
