.theme-switcher {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 6em;
  height: 6em;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: url(#goo);
}

.theme-switcher:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.color-wheel {
  cursor: pointer;
  transition: transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;
  z-index: 2;
}

.theme-switcher.open .color-wheel {
  transform: rotate(240deg) scale(1.15);
}

.theme-circle {
  position: inherit;
  bottom: calc(1em + 30px);
  right: calc(1em + 30px);
  width: 1.25em;
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0.8;
  transition: transform 0.5s ease-out, opacity 0.2s;
  z-index: 1;
  cursor: pointer;
}

.theme-switcher.open .theme-circle {
  opacity: 1;
  transform: scale(2);
}

.theme-circle:nth-child(2) {
  transition-delay: 0.1s;
}

.theme-circle:nth-child(3) {
  transition-delay: 0.2s;
}

.theme-circle:nth-child(4) {
  transition-delay: 0.3s;
}

.theme-switcher.open .theme-circle:nth-child(4) {
  transform: translate(-3.75em, 1.25em) scale(2);
}
.theme-switcher.open .theme-circle:nth-child(4):hover {
  transform: translate(-3.75em, 1.25em) scale(2.2);
  transition: transform 0.2s ease-out;
}

.theme-switcher.open .theme-circle:nth-child(3) {
  transform: translate(-3.75em, -1.9em) scale(2);
}
.theme-switcher.open .theme-circle:nth-child(3):hover {
  transform: translate(-3.75em, -1.9em) scale(2.2);
  transition: transform 0.2s ease-out;
}

.theme-switcher.open .theme-circle:nth-child(2) {
  transform: translate(-0.9375em, -3.75em) scale(2);
}
.theme-switcher.open .theme-circle:nth-child(2):hover {
  transform: translate(-0.9375em, -3.75em) scale(2.2);
  transition: transform 0.2s ease-out;
}
