.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--backgroundMain);
}

.loading-animation svg {
  width: 10vw;
  max-width: 130px;
  min-width: 100px;
  height: auto;
}


#footer-loading-animation {
  height: 10vh;
  background: transparent;
}