/* Home Page Styles */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100vw;
  margin: 18vh auto;
  margin-bottom: 0;
}

.home-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-section:first-child {
  height: calc(100vh - 18vh);
}

/* Playground Page Styles */

.playground-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin: 18vh auto;
  margin-bottom: 0;
}
.playground-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  min-width: calc(340px - 48px);
  max-width: 600px;
  margin-inline: auto;
}

.playground-content-container {
  margin: 18vh auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
  width: 70%;
  min-width: calc(393px - 48px);
  margin-inline: auto;
}

@media (max-width: 1300px) {
  .playground-content-container {
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .playground-content-container {
    gap: 1em;
  }
}

@media (max-width: 680px) {
  .playground-content-container {
    grid-template-columns: 1fr;
  }
}

/* About Page Styles */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  min-width: calc(340px - 48px);
  max-width: 600px;
  margin: 18vh auto;
  margin-bottom: 0;
  transition: all 0.8s ease;
}

.about-content-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: max(5em, 32px);
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3em;
}

@media (max-width: 1200px) {
  .tilt-container {
    right: -16em !important;
    width: 12em !important;
  }
}

@media (max-width: 1000px) {
  .about-content-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .tilt-container {
    position: inherit !important;
    margin: 2em auto !important;
    width: 13em !important;
  }
}
@media (max-width: 680px) {
  .about-container {
    width: 100vw;
  }

  .about-content-container {
    padding-inline: 2em;
  }
  .about-title {
    padding-inline: 1em;
  }

  .resume-button {
    margin-inline: auto;
  }
}

/* Work Page Styles */
.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/* Not Found Page style */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #ffffff; /* Pure white background */
}

.not-found-title {
  color: var(--gray-1000);
  margin-bottom: 0.2em;
}

.not-found-image {
  width: 24vw;
  min-width: 200px;
  height: auto;
  margin-bottom: 1em;
}

.not-found-text {
  color: var(--gray-1000);
  line-height: 1.5;
  margin-bottom: 1em;
}
