.work-container {
  display: flex;
  flex-direction: row;
  min-width: calc(402px - 32px);
  width: 100%;
  height: 100%;
  padding-top: 2em;
}

.work-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1em;
  background: var(--colorPrimary1);
}

.work-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
